body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#OverlaySettings {
    left: 100%;
    top: -3%;
    position: absolute !important;
}

#LeafletMap {
    height: 100%;
}

.modal-body > div > input[type="text"], 
.modal-body > div > input[type="number"] {
    height: 1.5em !important;
    margin-bottom: 0.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#angucomplete-form, #angucomplete-form_value {
    max-width: 500px !important;
    width: 285px;
}

#angucomplete-form_dropdown {
    max-height: 500px;
    overflow-y: auto;
}