@{
    ViewBag.Title = "Home Page";
}

<div ng-app="MainApp" ng-controller="HomeCtrl" ng-init="initialize()" class="h-100">
    <div class="d-flex flex-row h-100">
        <div class="d-flex flex-column col-2">
            <div class="d-flex flex-row">
                <h4 class="d-flex flex-column mr-auto">Overlays</h4>
                <div ng-show="overlayEnabled" type="button" class="btn btn-outline-danger mx-1" ng-click="removeGeoJson()"><i class="fas fa-eraser"></i></div>
                <div ng-show="overlayEnabled" type="button" class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#OverlaySettings"><i class="fas fa-cog"></i></div>
                @Html.Partial("~/Views/Modals/_OverlaySettings.cshtml")
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Overlay" id="USStates" value="USStates" ng-click="getGeoJson('us_states')">
                <label class="form-check-label" for="USStates">
                    US States
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Overlay" id="USCounties" value="USCounties" ng-click="getGeoJson('us_counties')">
                <label class="form-check-label" for="USCounties">
                    US Counties
                </label>
            </div>
            <div class="d-flex flex-row">
                <h4 class="d-flex flex-column mr-auto">Heatmaps</h4>
                <div ng-show="heatmapEnabled" type="button" class="btn btn-outline-danger" ng-click="removeHeatmaps()"><i class="fas fa-eraser"></i></div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Heatmaps" id="NYCTrees" value="NYCTrees" ng-click="GetHeatMap()">
                <label class="form-check-label" for="NYCTrees">
                    NYC Trees Census
                </label>
            </div>
        </div>
        <div id="LeafletMap" class="d-flex flex-column col-10 p-0"></div>
    </div>
</div>

