@{
    ViewBag.Title = "Home Page";
}

<div ng-app="MainApp" ng-controller="HomeCtrl" ng-init="initialize()" class="h-100" ng-cloak >
    <div class="d-flex flex-row h-100">
        <div class="d-flex flex-column col-2">
            <div class="d-flex flex-row">
                <h4 class="d-flex flex-column mr-auto">Overlays</h4>
                <div ng-show="overlayEnabled" type="button" class="btn btn-outline-danger mx-1" ng-click="removeGeoJson()"><i class="fas fa-eraser"></i></div>
                <div ng-show="overlayEnabled" type="button" class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#OverlaySettings"><i class="fas fa-cog"></i></div>
                @Html.Partial("~/Views/Modals/_OverlaySettings.cshtml")
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Overlay" id="USStates" value="USStates" ng-click="initGeoJson('us_states')">
                <label class="form-check-label" for="USStates">
                    US States
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Overlay" id="USCounties" value="USCounties" ng-click="initGeoJson('us_counties')">
                <label class="form-check-label" for="USCounties">
                    US Counties
                </label>
            </div>
            <hr />
            <div class="d-flex flex-row">
                <h4 class="d-flex flex-column mr-auto">Heatmaps</h4>
                <div ng-show="heatmapEnabled" type="button" class="btn btn-outline-danger" ng-click="removeHeatmaps()"><i class="fas fa-eraser"></i></div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Heatmaps" id="NYCTrees" value="NYCTrees" ng-click="initHeatmap('nyc_trees')">
                <label class="form-check-label" for="NYCTrees">
                    NYC Trees Census
                </label>
            </div>
            <div id="covidHeatmap" class="form-check">
                <input class="form-check-input" type="radio" name="Heatmaps" id="Covid" value="Covid" ng-click="initHeatmap('covid')" disabled>
                <label class="form-check-label" for="Covid">
                    SAR-COV-2 America
                </label>
                <div ng-if="CovidSelected">Click A State</div>
            </div>
            <hr />
            <div class="d-flex flex-column">
                <h4>Map Details</h4>

                <form class="input-group d-flex flex-column mt-2" name="panInput">
                    <div class="input-group-prepend">
                        <div class="input-group-text w-100">Latitude, Longitude</div>
                    </div>
                    <div class="d-flex flex-row">
                        <input type="number" name="panLat" min="-90" max="90" step="0.0001" class="form-control" value="{{mapCenter.lat}}" ng-model="mapCenter.lat" required>
                        <input type="number" name="panLng" min="-180" max="180" step="0.0001" class="form-control" value="{{mapCenter.lng}}" ng-model="mapCenter.lng" required>
                    </div>
                    <div class="d-flex flex-row">
                        <angucomplete-alt ng-if="StateSelected"
                                          id="angucomplete-form"
                                          placeholder="Pan to City in {{StateSelected}}"
                                          pause="100"
                                          selected-object="PanBySelection"
                                          selected-object-data="row"
                                          local-data="cities"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          clear-selected="true"
                                          input-class="form-control" />
                    </div>
                    <button type="submit" class="mw-100 btn btn-outline-success" ng-click="PanMap()">Pan to Location</button>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column col-10 p-0">
            <div id="LeafletMap"></div>
        </div>
    </div>
</div>

